.DS_Store
__pycache__
.vscode
*.ipynb
.ipynb_checkpoints
data/localnews_replication
data/.RData
data/.Rhistory
data/preprocess.R
data/*.pdf
data/segments_dd.csv
results
*.txt
*.pkl
*.prof
*.log
*.m~
data/synthetic/*
*.mat
neurips2022/*.pdf
neurips2022/
aistats2023_supplement
*.zip
*.history